# pip install -r requirements.txt

fastapi
uvicorn
pymysql
passlib
bcrypt
sqlalchemy
python-jose
python-multipart
keras==2.9.0
Keras-Preprocessing==1.1.2
mysqlclient
numpy==1.23.1
pandas
scikit-image==0.18.1
scikit-learn
scipy==1.8.1
streamlit
xhtml2pdf

## pip install streamlit
## pip install networkx
## pip3 install --disable-pip-version-check --no-cache-dir tensorflow